<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>View Bill | Hamza Paints</title>
  <link rel="icon" href="/images/weldon-paints-logo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/viewBill.css">
</head>

<body>
<%- include('partials/navbar') %>
    
<main>

   <div class="no-print-controls">
  <button class="btn btn-print">๐จ๏ธ Print Bill</button>
  <a href="/sales/history" class="btn btn-back">๐ Back to History</a>
</div>



  <div class="print-area">

    <div class="shop-header">
      <img src="/images/weldon-paints-logo.png" id="logo">
      <div class="shop-name-en">
        Hamza Weldon Paint & Hardware Store
      </div>
      <div class="shop-name-ur">
        ุญูุฒ ููฺู ูพููน ุงูฺ ุงุฑฺูุฆุฑ ุณูนูุฑ
      </div>
      <div class="shop-phones">
        <span dir="ltr">0319-9303154</span>(ุญูุฒ)
        <span dir="ltr">0332-9780911</span>(ุงุณูุงุนู)
        <span dir="ltr">0335-0502041</span>(ูุจุงุฑฺฉ ุดุง)
      </div>
      <br>
      
    </div>
    
    <p><b>Customer name:  </b><b><%= bill.customerName %></b></p>
    <br>
    <p><b>Entry date: <%= new Date(bill.createdAt).toLocaleDateString('en-GB', {timeZone: 'Asia/Karachi'}) %> | 
            <%= new Date(bill.createdAt).toLocaleTimeString('en-US', {timeZone: 'Asia/Karachi', hour:'2-digit', minute:'2-digit', hour12:true}) %></b> </p>
    <br>
    

    <h3>Remarks:</h3>

    <table>
      <thead>
        <tr>
          <th>Stock ID</th>
          <th>Sale ID</th>
          <th>Item</th>
          <th>Color</th>
          <th>Unit</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="billTableBody">
        <% bill.salesItems.forEach(item => { %>
            <tr>
              <td><%= item.stockID %></td>
              <td><%= item.saleID %></td>
              <td><%= item.itemName %></td>
              <td><%= item.colourName %></td>
              <td><%= item.qty %></td>
              <td><%= item.quantitySold %></td>
              <td>Rs <%= item.rate.toFixed(2) %></td>
              <td>Rs <%= (item.quantitySold * item.rate).toFixed(2) %></td>
            </tr>
            <% }) %>
      </tbody>
    </table>

    <div class="footer">
      <span id="billTotalItems">Total items: <%= bill.salesItems.length %></span>
      <span id="billTotalAmount">Total amount: Rs <%= totalAmount.toFixed(2) %></span>
    </div>

    <div class="urdu-footer">
      ูพุช: ููฺฉ ุชุงุฌ ูุงุฑฺฉูนุ ุฏฺฉุงู ููุจุฑ 5ุ6 ฺฉูุงูน ุจูุฑฺ ุงุฆ ู ฺูฺฉ
    </div>

    <div class="urdu-warning">
      .ุจู ฺฉ ุจุบุฑ ูุงูพุณ ูฺบ ูฺฏ
    </div>
    <div class="thank-you-section">
      THANK YOU FOR VISITING HAMZA PAINTS
    </div>

    <div class="dev-footer">
      <span>Software Developed by: M.SHOUKAT (0335 8004900)</span><br>
    </div>

  </div>

  </main>

  <script src="/javascripts/viewBill.js"></script>
</body>
</html>